.actionBtn {
  & {
    --uno-apply: cursor-pointer h-[60px] leading-[60px] text-[15px] text-center;
  }
  & {
    --uno-apply: transition-all bg-active color-main;
  }
  &:not(.loading):not(.disabled):hover {
    --uno-apply: bg-active-hover;
  }
}

.loading {
  --uno-apply: cursor-wait;
}

.disabled {
  --uno-apply: cursor-none;
}
