.imageBg {
  --uno-apply: bg-center bg-no-repeat transition-all duration-300 ease-in-out;
  background-size: 100%;
  &:not(.noAnimation) {
    &.brightness {
      *:hover > &.parentHover, &:hover {
        --uno-apply: brightness-100;
      }
    }
    &.scale {
      *:hover > &.parentHover, &:hover {
        background-size: 110%;
      }
    }
  }
}
