.banner {
  --uno-apply: p-y-[var(--69doll-padding-y)] p-x-[var(--69doll-padding-x)];
}

.bannerContainer {
  --69doll-banner-content-height: 800px;
  --uno-apply: flex-col-wrap m-x-[-10px] w-full;

  @screen md {
    --uno-apply: flex-row-wrap;

    > * {
      --uno-apply: basis-[50%];
    }

    > :first-child {
      .bannerContent {
        // --uno-apply: h-[var(--69doll-banner-content-height)];
      }
    }
    > :not(:first-child) {
      --uno-apply: flex-col-nowrap;
    }
  }
}

.bannerRecommend {
  @screen md {
    --uno-apply: basis-[50%];
  }
}

.bannerContent {
  --69doll-banner-content-padding-x: 0px;
  --69doll-banner-content-padding-y: 10px;
  --69doll-banner-content-height: 150px;
  @screen md {
    --69doll-banner-content-padding-x: 10px;
    --69doll-banner-content-height: 400px;
  }

  & {
    --uno-apply: w-full h-[var(--69doll-banner-content-height)] p-y-[var(--69doll-banner-content-padding-y)];
    @screen md {
      --uno-apply: p-[var(--69doll-banner-content-padding-x)];
    }
  }

  .bannerRecommend & {
    --69doll-banner-content-height: 300px;
    @screen md {
      --69doll-banner-content-height: 800px;
    }
  }
}

.bannerItems {
  @screen md {
    --uno: flex-row-nowrap;
    .bannerContent {
      --uno-apply: w-[50%];
    }
  }
}

.bannerContentContainer {
  --uno-apply: rounded-xl w-full h-full;
}

.bannerContentContainer {
  --uno-apply: flex-row-nowrap justify-between items-end p-x-[15px];
  > * {
    --uno-apply: text-[25px] color-white h-[130px] flex items-center;
    @screen md {
      --uno-apply: h-[80px];
    }
    &:first-child {
    --uno-apply: font-bold color-main;
    }
    &:last-child * {
      --uno-apply: text-[35px] font-bold i-material-symbols-arrow-right-alt color-icon-main;
    }
  }
}
