.uploadImageArea {
  --upload-image-size: 130px;
  --upload-image-padding: 5px;
}
.image {
  & {
    --uno: border border-dashed border-gray-200 rounded-t p-[var(--upload-image-padding)];
  }
  --uno: size-[var(--upload-image-size)] overflow-hidden;
  .imageWrapper {
    --uno: flex items-center justify-center;
  }
  .imageWrapper {
    --uno: size-[calc(var(--upload-image-size)-var(--upload-image-padding)*2)] overflow-hidden;
    > [data-slot="skeleton"] {
      --uno: size-[calc(var(--upload-image-size)-var(--upload-image-padding)*2)];
    }
  }
}

.uploadButton {
  --uno: w-[var(--upload-image-size)];
  .image + & {
    --uno: rounded-t-none;
  }
}
