.recommend {
  --uno-apply: p-y-[var(--69doll-padding-y)] p-x-[var(--69doll-padding-x)] color-main;
}

.container {
  --uno-apply: flex-row-nowrap justify-between;
  > *:first-child, > *:last-child {
    --uno-apply: flex-row-nowrap items-center;
  }
  > *:first-child {
    --uno-apply: gap-[40px];
    span {
      --uno-apply: text-[80px];
    }
  }
  > *:last-child {
    --uno-apply: gap-[5px];
  }
}

.btnGroup {
  --uno-apply: flex-row-nowrap gap-[10px];
}

.btn {
  --69doll-recommend-button-size:55px;
  --uno-apply: size-[var(--69doll-recommend-button-size)] flex justify-center items-center rounded-md border border-main border-solid;
  &:hover {
    --uno-apply: color-white border-white;
  }
}

.tags {
  --uno-apply: flex-row-nowrap gap-[15px];
}

.tag {
  --uno-apply: h-[55px] min-w-[100px] p-x-[20px] bg-main-rev color-main-rev text-[18px] text-center leading-[55px] rounded-3xl cursor-pointer;
  &.active, &:hover {
    --uno-apply: bg-main-hover color-main;
  }
}

.left {
  --uno-apply: i-material-symbols-arrow-left-alt;
}
.right {
  --uno-apply: i-material-symbols-arrow-right-alt;
}

.recommendList {
  --uno-apply: w-full overflow-hidden;
}

.recommendListContainer {
  --uno-apply: flex-row-nowrap w-[150vw] gap-[10px];
  > * {
    > * {
      --uno-apply: size-full;
    }
  }
}

.card {
  > .img {
    --uno-apply: h-[300px] m-b-[10px] rounded-md cursor-pointer;
  }
  > .label {
    --uno-apply: color-main text-2xl;
  }
  > .sublabel {
    --uno-apply: color-hint text-md;
  }
}
