.imageActions {
  --uno: relative rounded-md overflow-hidden min-size-[130px];
}

.image {
  --uno: size-inherit;
}

.actions {
  --uno: absolute top-0 left-0 size-full;
  & {
    --uno: bg-black/50 color-white text-[14px] cursor-pointer;
  }
  & {
    --uno: hidden;
  }
  .imageActions:hover & {
    --uno: flex flex-col;
  }
  .actionBody {
    --uno: flex-center grow-auto;
  }
  .actionFooter {
    --uno: h-[40px] w-[calc(100%-8px)] flex-center mx-[4px] border-white border-t transition-all;
    &:hover {
      --uno: h-[40%];
    }
  }
  .actionBody, .actionFooter {
    --uno: transition-all;
    &:hover {
      --uno: bg-black/100 w-full m-0;
    }
  }
}
