.dialog {
  --uno: max-h-dvh flex flex-col;

  > *:not(.items) {
    --uno: shrink-0;
  }

  .items {
    --uno: overflow-y-auto flex gap-1 flex-row flex-wrap shrink-1 pb-2;
  }
}

.item {
  --uno: border-[1px] border-dashed border-gray-500 p-[4px];
  &:has(> *:hover) {
    --uno: border-[2px] p-[3px] border-solid;
  }
  &.selected {
    --uno: border-[3px] p-[2px] border-solid border-green-500;
  }
}
