.layout {
  --uno-apply: flex-row-nowrap overflow-x-hidden bg-main;
  &:has(.sider) {
    --uno-apply: overflow-hidden;
  }
}

.sider {
  --uno-apply: min-h-[100dvh] w-screen z-[1500];
}

.container {
  --uno-apply: flex-col-nowrap w-screen;
  .layout:has(.sider) & {
    margin-left: calc(-100vw);
  }
}
.header {
  --uno-apply: w-screen;
}
.body {
  --uno-apply: w-screen min-h-[85dvh];
}
.footer {
  --uno-apply: w-screen;
}
