.layout {
  --uno-apply: flex-row-nowrap overflow-x-hidden bg-main;
  &:has(.sider) {
    --uno-apply: h-dvh overflow-y-hidden;
  }
}

.sider {
  --uno-apply: h-[100dvh] w-screen z-[1500] overflow-x-hidden overflow-y-auto;
}

.container {
  --uno-apply: flex-col-nowrap w-screen;
  .layout:has(.sider) & {
    --uno-apply: m-l-[-100vw];
  }
}
.header {
  --uno-apply: w-screen;
}
.body {
  --uno-apply: w-screen min-h-[85dvh];
}
.footer {
  --uno-apply: w-screen;
}
