.container {
  --uno-apply: w-full;
}

.title {
  --uno-apply: w-full text-[30px] color-main;
}

.formContainer {
  --uno-apply: w-full min-h-[60vh] flex-col-nowrap justify-center items-center gap-[20px];
  > * {
    --uno-apply: w-[400px] max-w-full;
  }
}

.actions {
  --uno-apply: flex-row-nowrap justify-center gap-[30px];
}
.action {
  --uno-apply: flex justify-center w-[100px] cursor-pointer;
}
.content {
  --uno-apply: w-fit h-[40px] text-center text-[22px] color-main leading-[40px] transition-all;

  .action:hover &, .action.active & {
    --uno-apply: border-b-[2px] border-b-solid;
  }
  .action.active & {
    --uno-apply: border-active;
  }
  .action:hover & {
    --uno-apply: border-b-[1px] border-active-hover;
  }
}

.formItemContainer {
  .formItemLabel {
    --uno-apply: h-[18px] text-[12px] leading-[18px] color-main;
  }
  input {
    --uno-apply: w-full h-[45px] leading-[45px] text-[20px] p-x-[15px];
  }
}

.remember {
  --uno-apply: flex flex-row items-center h-[60px] cursor-pointer gap-[10px] color-main;
  input[type='checkbox'] {
    --uno-apply: h-[20px] w-[20px] bg-main-rev;
    outline: none;
    &:checked {
      --uno-apply: bg-active;
    }
  }
}

.actionBtn {
  --uno-apply: h-[60px] bg-active hover:bg-active-hover color-main leading-[60px] text-[15px] text-center cursor-pointer transition-all;
}

.forgot {
  --uno-apply: h-[60px] text-[15px] leading-[60px] text-center cursor-pointer color-hint hover:color-hint-hover transition-all;
}
