.icon {
  --uno: w-[80px];
  tbody &, > [data-slot="skeleton"] {
    --uno: size-[80px];
  }
}

.date {
  --uno: w-[100px];
  > [data-slot="skeleton"] {
    --uno: h-4 w-full;
  }
}

.actions {
  --uno: w-[150px];
  & > button + button {
    --uno: ml-[5px];
  }
  &:has(> button) {
    --uno: text-center;
  }
}
