:root {
  --69doll-header-height: 80px;
  --69doll-padding-x: 40px;
  --69doll-padding-y: 30px;
  --69doll-margin-x: 40px;
  --69doll-icon-size: 30px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon {
  --uno-apply: color-black cursor-pointer transition-all;
  font-size: var(--69doll-icon-size);
}

.pointer {
  --uno-apply: cursor-pointer;
}

.section {
  --uno-apply: p-y-[var(--69doll-padding-y)] p-x-[var(--69doll-padding-x)];
  @screen lt-md {
    --uno-apply: p-y-[calc(var(--69doll-padding-y)/2)];
  }
  &:first-child {
    --uno-apply: p-t-[0px];
  }
}

.grid {
  --uno-apply: grid;
  &.col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  &.col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
